/* Page Setup */
*,
*::before,
*::after {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: mana;
  src: url(../fonts/manaspc.ttf);
}

@font-face {
  font-family: "orange kid";
  src: url(../fonts/orange\ kid.otf);
}

body {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Utility*/

.player-board {
  width: 350px;
  height: 92vh;
  border: 5px dashed #5f4ddb;
  padding: 10px;
}

#start-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #dbc425;
  text-align: center;
  margin-top: 10px;
  font-family: "orange kid";
}

/* Color Pallette
 #000000: black;
 #DBC425: Yellow Gold;
 #5F4DDB: Violet Blue; */

/* Title Text */

.title-container {
  display: flex;
  font-family: mana;
  font-size: 3rem;
  color: #dbc425;

  /* overflow: hidden; */
}

.rock > *,
.paper > *,
.scissors > * {
  position: relative;
  top: -3000px;
  animation-name: drop;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: normal;
  margin-right: 30px;
}

.paper > * {
  animation-delay: 0.9s;
}

.scissors > * {
  animation-delay: 2.1s;
}

@keyframes drop {
  to {
    top: 0;
  }
}

/* title images section */

.title-image-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.rock-image > img,
.paper-image > img {
  width: 80px;
  margin-right: 20px;
}

.scissors-image > img {
  width: 90px;
}

.rock-image > img,
.paper-image > img,
.scissors-image > img {
  opacity: 0;
  animation-name: disolve;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-duration: 5s;
}

.rock-image > img {
  animation-delay: 4s;
}

.paper-image > img {
  animation-delay: 5s;
}

.scissors-image > img {
  animation-delay: 6s;
}

@keyframes disolve {
  to {
    opacity: 100;
  }
}

/* Start Button */

.start-container {
  font-family: "orange kid";
  font-size: 2rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-container > button:hover,
.start-container > button:focus {
  color: #ecdc76;
  border-color: #ecdc76;
  animation-play-state: paused;
}

.start-container > button:active {
  color: white;
  border-color: white;
  animation-play-state: paused;
}

.start-container > button {
  display: none;
  text-decoration: none;
  font-family: "orange kid";
  background-color: transparent;
  color: #5f4ddb;
  padding: 6px 10px 10px;
  border: 4px solid #5f4ddb;
  margin: 0;
  opacity: 0;
  display: flex;
  flex-direction: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  animation-name: gradual-arrival, breath;
  animation-iteration-count: 1, infinite;
  animation-timing-function: linear, linear;
  animation-direction: normal, normal;
  animation-fill-mode: forwards, none;
  animation-duration: 3s, 1.5s;
  animation-delay: 7s, 7s;
}

@keyframes gradual-arrival {
  to {
    opacity: 100;
  }
}

@keyframes breath {
  to {
    font-size: 1.7rem;
    font-color: #bdb5f3;
    border-color: #bdb5f3;
  }
}

/* game section */

/* #game-section {
  display: none;
} */

.score-container {
  color: white;
  font-family: "orange kid";
  font-size: 1.4rem;
  text-align: center;
}

.game-console-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
}

.button-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #bdb5f3;
  border-bottom: 10px solid transparent;
  margin-right: 20px;
}

.button-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #bdb5f3;
  border-bottom: 10px solid transparent;
  margin-left: 20px;
}

.player-item-container {
  color: #5f4ddb;
  text-align: center;
  font-family: "orange kid";
  font-size: 3rem;
  margin-top: 10px;
}

.player-item-container p {
  font-size: 1.2rem;
}

.player-item-container img,
#cpu-image {
  width: 120px;
}

/* Play Button */

.play-container {
  text-align: center;
  margin-top: 10px;
}

#play {
  align-items: center;
  font-family: "orange kid";
  padding: 6px 40px 10px;
  line-height: 100%;
  vertical-align: center;
  font-size: 1.3rem;
  background: #bdb5f3;
  color: white;
}

#play:hover,
#play:focus {
  background-color: #ecdc76;
}

#play:active {
  background-color: white;
  color: black;
}

/* CPU Content Section */

.cpu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cpu-container #cpu-img {
  margin-top: 10px;
}

#cpu-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cpu-name {
  color: #5f4ddb;
  font-family: "orange kid";
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}
